@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default dark background */
body {
  background-color: #0a0a0c;
  color: white;
}

/* Custom Utilities */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}